<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ComaprePrice Automation Test Suite">
	<test name="ComaprePrice Automation Test Cases">
		<classes>
			<class name="com.qa.automation.tests.SelectedIphoneFlipkartPageTest"></class>
			<class name="com.qa.automation.tests.SelectedIphoneAmazonPageTest"></class>
		</classes>
	</test>
</suite>